---
const { variant, imgSrc, imgAlt, cardName } = Astro.props;
import PlaylistCard from './PlaylistCard.astro';
---

<div class="shelf-container">
    <PlaylistCard 
    variant="album" 
    imgSrc="public/imges/miley.jpeg" 
    imgAlt="Artist 2" 
    cardName="Miley album"

    />
  <PlaylistCard 
    variant="album" 
    imgSrc="public/imges/miley.jpeg" 
    imgAlt="Artist 2" 
    cardName="Bangerz"

  />
  <PlaylistCard 
    variant="album" 
    imgSrc="public/imges/miley.jpeg" 
    imgAlt="Artist 2" 
    cardName="Bangerz"
  />
</div>

<style>
  .shelf-container {
    margin-left: 40px;
    padding: 40px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; /* Justerar avståndet mellan korten */

  }
  
</style>
